## Travel time analysis

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

### Data reading

In [2]:
# Read in travel time results and SourceSink data
scenarios = range(0,5)
results = {}
for s in scenarios:
    results[s] = pd.read_csv(f"../experiments/results_scenario_{s}.csv", index_col=0)
    results[s].drop("VehicleID", axis="columns", inplace=True)
source_sinks = pd.read_csv(f"../experiments/source_data.csv", index_col=0)

In [3]:
display(results[2].head(5))
display(source_sinks.head(5))

   Travel_Time       Startpoint  Endpoint
0            4  SourceSink12629     12625
1            6  SourceSink13040     13034
2           17  SourceSink13023     13012
3            6  SourceSink13034     13040
4           18  SourceSink13022     13023

       Road               Coordinates
10000    N1   (90.443333, 23.7060278)
11302    N1   (92.298083, 20.8629167)
11303    N2  (90.5214438, 23.7059167)
12253    N2  (92.0176382, 25.1570556)
12254  N105  (90.5466108, 23.6904163)

### Global average travel time

In [4]:
#calculating 95% confidence intervals of the economic losses
confidence = 0.95

average = {}
low_bound = {}
high_bound = {}
interval_range = {}
economic_interval = {}

for i in scenarios:
    results_list = results[i]["Travel_Time"].tolist()
    average[i] = np.mean(results_list)
    low_bound[i], high_bound[i] = st.norm.interval(alpha=confidence, loc=average[i], scale=st.sem(results_list))
    interval_range[i] = high_bound[i] - low_bound[i]
    economic_interval[i] = interval_range[i] / average[i] * 100

    print(f'Average travel time (95% confidence interval) for scenario {i}: {average[i]:.3f} ({low_bound[i]:.3f}, {high_bound[i]:.3f}), economic interval: {economic_interval[i]:.3f}%')

df = pd.DataFrame({
    "Average (min)": average,
    "Low bound (min)": low_bound,
    "High bound (min)": high_bound,
    "Interval range (min)": interval_range,
    "Economic interval (%)": economic_interval})
df.to_csv("../results/travel_times.csv", index_label="Scenario")
df

Average travel time (95% confidence interval) for scenario 0: 322.690 (318.780, 326.600), economic interval: 2.424%
Average travel time (95% confidence interval) for scenario 1: 325.522 (321.554, 329.490), economic interval: 2.438%
Average travel time (95% confidence interval) for scenario 2: 357.762 (353.048, 362.475), economic interval: 2.635%
Average travel time (95% confidence interval) for scenario 3: 392.587 (387.434, 397.740), economic interval: 2.625%
Average travel time (95% confidence interval) for scenario 4: 438.301 (429.359, 447.243), economic interval: 4.080%

,Average (min),Low bound (min),High bound (min),Interval range (min),Economic interval (%)
0,322.690026,318.779610,326.600442,7.820832,2.423636
1,325.521909,321.553621,329.490197,7.936576,2.438108
2,357.761645,353.048441,362.474850,9.426409,2.634829
3,392.586686,387.433747,397.739624,10.305877,2.625121
4,438.301127,429.359157,447.243098,17.883942,4.080287

### Average travel time per route